@model KurumsalWeb.Models.Model.New

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Haber Ekle</h2>

@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NewName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <style>
            .image-dimensions {
                display: block;
                color: black;
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        </style>
        @Html.LabelFor(model => model.NewPath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div>
                <input type="file" name="NewPath" class="form-control" placeholder="Foto Seçiniz" />
                <span class="image-dimensions">1024x683 piksel en iyi slider ı oluşturur</span>
            </div>
            @Html.ValidationMessageFor(model => model.NewPath, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.NewDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserID, "Haberi Yapan Kullanıcı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TvID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TvID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TvID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ekle" class="btn btn-dark" />
        </div>
    </div>
</div>
}

<div>
    <a href="/News/Index" class="btn btn-warning">Geri Dön</a>
</div>
